<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>Contact Bavarian Bikes</title>

  </head>
  <body id="contact-page-body">
    <h1 class="contact-heading">Contact Bavarian Bikes</h1>
    <hr>
    <div class="contact-info">
      <h3>Bavarian Bike MB GmbH</h3>
      <p>Max Mustermann</p>
      <p>0000 00000000</p>
      <p>Beispielstaße 23</p>
      <p>Munich</p>
    </div>
    <hr>
  </body>
</html
