<div class="contact-body" >
  <h1 class="contact-heading">Get in touch<span class="red-dot">.</span></h1>
  <hr>
  <div class="row contact-info">
    <div class="col-md-6 col-sm-12">
      <h3>DaShop GmbH</h3>
      <p>Max Mustermann</p>
      <p>0000 00000000</p>
      <p>Beispielstaße 23</p>
      <p>Munich</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Opening hours</h3>
      <p>Mo-Fr 10:00 - 19:00 </p>
      <p>Sa & So 9:00 - 13:00 </p>
    </div>
  </div>
</div>
