%heading-font {
  font-family: 'Permanent Marker', cursive;
}

%standard-font {
  font-family: 'Roboto', sans-serif;
}

%vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
