// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  padding-left: 15px;
}

.description-item {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .price {
    text-align: right;
    padding-right: 10px;
  }
}

.portfolio-line{
  .row {
    width: 100%;
    margin: 0 auto;
  }
  .item {
    padding-top: 30px;
    padding-bottom: 30px;
    }
}
